.rest-side {
  background-color: #faf4ff;
  /* width: 10%; */
  height: 655px;
  /* width: 100px; */
}

.back {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  padding-top: 15px;
}

.back-nav {
  margin-top: 8px;
}

.rest-card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* margin: 0 auto; */
  margin-top: 70px;
  justify-content: space-between;
  background: #ececec;
  margin-left: 160px;
}

.rest-name {
  font-family: Raleway;
  font-weight: bold;
  font-size: 15px;
}

.rest-add {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 60px;
}
.no-rest{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.zero-rest{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
}
