.spin {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  margin-top: 90px;
}
.spin {
  background: rgba(255, 255, 255, 0.08);
}

.site-card-wrapper {
  display: flex;
  background: #ececec;
  padding: 30px;
}

.cityName {
  font-family: "Roboto", sans-serif;
}

.cityDesc {
  font-family: "Raleway", sans-serif;
}

.card-wrapper {
  background: #ececec;
  padding: 30px;
}
