.logo-header {
  position: absolute;
  top: 20px;
  left: 30px;
}

.backgroundStyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: white; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    white white
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    white white
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundStyle form {
  /* background-color: red; */
  border-radius: 8px;
  /* width: 100%; */
  padding: 2rem 1rem 0.5rem 1rem;
  /* max-width: 400px; */
  width: 500px;
}

.backgroundStyle h1 {
  color: black;
  font-family: Roboto;
  font-weight: bold;
}

.logo {
  width: "240px";
  height: "90px";
  padding-top: "30px";
}

.question {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
}

.login-link {
  font-style: italic;
  font-family: sans-serif;
  font-weight: bold;
}

.add-btn {
  margin-top: 30px;
}

.add-btn1 {
  margin-top: 10px;
}
.logout {
  margin-top: 40px;
}

.city-header {
  font-family: Raleway;
  font-weight: bolder;
  font-size: 18px;
}
.base{
  font-family: sans;
  font-weight: bold;
  font-size: 15px;
}