body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 0 120px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}
header ul li {
  display: inline-block;
  margin-right: 25px;
  /* margin: 0 20px; */
}

#main{
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#main .main-text{
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

span{
  border-bottom: 3px solid red;
}
img{
  margin-left: 50px;
  margin-top: -10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
